{% extends "FrontBundle:Base:layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{{ page.name }}</h2>

            {{ page.content }}
        </div>
    </div>
{% endblock %}