{% extends "FrontBundle:Base:layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{{ page.name }}</h2>
        </div>
    </div>

    <div class="row">
    	<div class="span12">
	    	{% for i in range(1, config['nb-colonne']) %}
		        <div class="colonne{{ i }}">
		        	{% for pageModule in page.pageModules %}
		        		{% debug pageModule.pageModuleContents %}
                        {% if pageModule.colonneId == i %}
                        
                        {% endif %}
		        	{% endfor %}
		        	{{ page.content }}
		        </div>
	        {% endfor %}
        </div>
    </div>
    	
{% endblock %}